
<div class="">
  <p>
    </br>
    </br>
  </p>
</div>

<div id="tabs">
  <ul>
    <% @softs.each do |soft| %>
      <li><%= tab.title %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Sort Asc", sort_tabs_path(order: 'asc'), method: :post %>
<%= link_to "Sort Desc", sort_tabs_path(order: 'desc'), method: :post %>


<script>
  $(document).ready(function() {
    $("#tabs").railsSortable();
  });
</script>

<%= javascript_pack_tag 'apply_samples/index' %>
